<%- include('../includes/header'); %>
    

    <div class="main">
        <form action="" method="POST">
            <label for="title">Title</label><br>
            <input type="text" name="title"><br><br>
            <label for="title">Post</label><br>
            <textarea name="content" class="postbox" cols="30" rows="40"></textarea> <br> <br>
            <button type="submit">Add Post</button>
        </form>
    </div>

    
<%- include('../includes/footer'); %>


