<%- include('./includes/header'); %>
    

    <div class="main">
        <h1>About</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio aut exercitationem ipsam magni placeat iusto molestias ex veritatis aspernatur. Et harum a laboriosam minus, sit dolore placeat fuga totam! Alias mollitia itaque optio suscipit atque exercitationem temporibus delectus ullam laudantium.
        </p>
    </div>

    
<%- include('./includes/footer'); %>


